#u76
{
	background-color: #F7F7F6;
}

#u85-4
{
	background-color: #F7F7F6;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	color: #4C4C4C;
	font-family: advent-pro, sans-serif;
	font-weight: 700;
	position: fixed;
}

#u85-4:hover
{
	border-style: none;
	border-color: #000000;
}

#u85-4:hover p
{
	color: #93B904;
	visibility: inherit;
}

#u85-2
{
	padding-top: 16px;
}

#u86-4
{
	background-color: #F7F7F6;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
}

#u86-4:hover
{
	border-style: none;
	border-color: #000000;
}

#u85-4.MuseLinkActive p,#u86-4:hover p,#u86-4:hover span,#u86-4.MuseLinkActive p,#u86-4.MuseLinkActive span
{
	color: #93B904;
	visibility: inherit;
}

#u86-2
{
	padding-top: 16px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u87-4
{
	background-color: #F7F7F6;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
}

#u87-4:hover
{
	border-style: none;
	border-color: #000000;
}

#u87-4:hover p,#u87-4:hover span,#u87-4.MuseLinkActive p,#u87-4.MuseLinkActive span
{
	color: #93B904;
	visibility: inherit;
}

#u87-2
{
	padding-top: 16px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u88-4
{
	background-color: #F7F7F6;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
}

#u88-4:hover
{
	border-style: none;
	border-color: #000000;
}

#u88-4:hover p,#u88-4:hover span,#u88-4.MuseLinkActive p,#u88-4.MuseLinkActive span
{
	color: #93B904;
	visibility: inherit;
}

#u88-2
{
	padding-top: 16px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u90-4
{
	background-color: #F7F7F6;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
}

#u90-4:hover
{
	border-style: none;
	border-color: #000000;
}

#u90-4:hover p,#u90-4:hover span,#u90-4.MuseLinkActive p,#u90-4.MuseLinkActive span
{
	color: #93B904;
	visibility: inherit;
}

#u90-2
{
	padding-top: 16px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u91-4
{
	background-color: #F7F7F6;
	text-align: center;
	font-family: advent-pro, sans-serif;
	font-weight: 600;
	position: fixed;
}

#u91-4:hover
{
	border-style: none;
	border-color: #000000;
}

#u85-4.MuseLinkActive,#u86-4.MuseLinkActive,#u87-4.MuseLinkActive,#u88-4.MuseLinkActive,#u90-4.MuseLinkActive,#u91-4.MuseLinkActive
{
	border-style: solid;
	border-color: #93B904;
	border-width: 0px 0px 3px;
}

#u91-4:hover p,#u91-4:hover span,#u91-4.MuseLinkActive p,#u91-4.MuseLinkActive span
{
	color: #93B904;
	visibility: inherit;
}

#u91-2
{
	padding-top: 16px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u86,#u87,#u88,#u90,#u91
{
	font-weight: 700;
	line-height: 19px;
}

#u93
{
	background: #F8F7F2 url("../images/banner.png") no-repeat left top;
}

#u114-4
{
	background-color: transparent;
	text-align: center;
	font-size: 42px;
	line-height: 50px;
	color: #313131;
	font-family: advent-pro, sans-serif;
	font-weight: 700;
	position: relative;
}

#u118-4
{
	background-color: transparent;
	text-align: center;
	font-size: 17px;
	line-height: 20px;
	color: #93B904;
	font-family: advent-pro, sans-serif;
	font-weight: 500;
	position: relative;
}

#u391
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u107,#u129,#u135,#u119
{
	background-color: transparent;
	position: relative;
}

#u93_align_to_page,#pamphletu362,#u363
{
	position: relative;
}

#u364
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #93B904;
	border-radius: 10px;
}

#u366
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #93B904;
	border-radius: 10px;
}

#u365
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #93B904;
	border-radius: 10px;
}

#u364.PamphletThumbSelected,#u366.PamphletThumbSelected,#u365.PamphletThumbSelected
{
	border-width: 2px;
	border-style: solid;
	border-color: #93B904;
	background-color: #FFFFFF;
}

#u367
{
	position: absolute;
	background-color: transparent;
}

#u368,#u372,#u370
{
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	position: relative;
}

#u369-4,#u373-4,#u371-4
{
	background-color: transparent;
	font-size: 16px;
	line-height: 27px;
	font-family: advent-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

